body{
  background-color: rgb(221, 211, 211);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  width: 4rem;
  margin-top: 1rem;
  color: white;
  height: 4rem;
border-radius: 50%;
}
.column .a{
  background-color: rgb(50, 139, 50);
}
.column .b{
  background-color: rgb(96, 160, 182);
} 
.column .c{
  background-color: orangered;
}
.column .d{
  background-color:rgb(201, 201, 48)
}
h1{
  margin-top: 2rem;
color: grey;
}
.column{
  background-color: rgb(255, 255, 255);
  height: 12rem;
  width: 11rem;
  
  margin-top: 2rem;
padding-left: 1rem;
}
.heading{
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
  margin-left: 2.2em;
}
.sidebar{
  height: 51rem;
  max-width: 15rem;
  background-color: rgb(72, 202, 191);
}
/* .Main-sidebar{
  height: 51rem;
  max-width: 15rem;
  background-color: rgb(72, 202, 191);
} */
.sidebar svg{
  padding-top: 3rem;
  margin-top: 2rem;
}
.sidebar a{       
padding-top: -2rem;
  color: white;
  text-decoration: none;
  margin-bottom: -1rem;
  margin-left: 1rem;

}
nav{
  margin-top: 1.5rem;
  margin-left: 17.1rem;
  width: 61%;
  background-color: white;
  color: grey;
  padding-left: 1.5rem;
  padding-top: 1rem;
  height: 3em;
}
  header{
margin-left: 17rem;
margin-top: -50.5rem;
display: flex;
font-family: 'Roboto', sans-serif;

}
  header p {
  margin:5px;
  color: rgb(48, 37, 23);
  font-weight: 100;
  font-family: serif;
}
.graphs{
  width: 101%;
display: flex ;
margin-left: 1.3rem;
margin-top: 2rem;
gap: 25px;
justify-content: center;
}
.first-graph{
  width: 25%;
  background-color: white;
max-height: 310px;
/* background-color: white; */
}
.second-graph{
  width: 34.5%;
  background-color: white;
  max-height: 310px;
  margin-left: -1rem;
  margin-right: -1rem;
}